.image {
  height: 300px;
  width: 200px;
  margin: 20px;
  border: 2px solid #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 8px;
}

div.container {
  border: 5px solid #555;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; /* Allows wrapping on smaller screens */
}

.selected {
  border: 5px solid rgb(0, 195, 255);
}

p {
  text-align: center;
}

button {
  margin: 20px;
}
